
l_h_mailing.py
var_pass_practice.py
proby_wysylki.py
*.spec
*.html
*.txt
*.toc
*.pyc
*.zip
*.manifest
*.pkg
*.pyz
*.exe
mail_Baza.py
fine_template.py
cron.log
Warta_WDCIR.pdf
Generali_GO_PLUS.pdf
cron.log
cron.log
cron.log
*.log
cron.log
cron.log
.idea/
